.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 2px;
  cursor: pointer;
}

.pagination__numbers {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__numbers li {
  padding: 0 10px;
  cursor: pointer;
}

.pagination__numbers li:active,
.pagination__numbers li:hover {
  color: blue;
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: blue !important;
  cursor: default !important;
}