.inquiries-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  background-color: rgba(193, 193, 193, 0.2);
  padding: 15px 27px;
}

.news-detail__content {
  padding: 60px;
  border-bottom: 1px solid silver;
}

.inquiry-Answers-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.674);
  padding: 15px 27px;
  color: white;
}

.inquiry-Answers-detail__content {
  padding: 60px;
  border-bottom: 1px solid silver;
  background-color: rgba(193, 193, 193, 0.2);
}